<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event Detail</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Event Detail</h1>

    <h2> Event </h2>
    <p th:text = ${event.name}>Name</p>
    <h2> Description </h2>
    <p th:text = ${event.description}>Description</p>
    <h2> Venue </h2>
    <p th:text = ${event.venue.name}>Venue</p>
    <h2> Date </h2>
    <p th:text = ${event.date}>Date</p>
    <h2> Time </h2>
    <p th:text = ${event.time}>Time</p>

  </div>

</body>
</html>
