<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
  <title>All Events</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
</head>
<body>
  <div layout:fragment="content">
    <div class="search-container">
      <form th:action="@{/events/search}">
        <div class="form-row">
          <div class="form-group" style="margin:1rem 0;">
            <label for="keyword">Search:</label>
            <input class="form-control" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required style="display:inline-block;width:unset;margin:0 0.5em;" />
            <button class="btn btn-primary" type="submit" style="float:right;"><i class="fas fa-search" aria-hidden="true"></i> Search</button>
          </div>
        </div>
      </form>
    </div>

    <h1>Future Events</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${futureEvents}">
          <td><a th:text="${e.name}" th:href="'/events/'+${e.id}">My Event</a></td>
          <td th:text="${e.venue.name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>

    <h1>Past Events</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${pastEvents}">
          <td><a th:text="${e.name}" th:href="'/events/'+${e.id}">My Event</a></td>
          <td th:text="${e.venue.name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>
    
    <h1>Twitter Feed</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-clock"></i> Date & Time</th>
          <th><i class="fas fa-hashtag"></i> Text</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="t : ${tweets}">
          <td th:text="${t.getCreatedAt()}">Tweet DateTime</td>
 		  <td><a th:text="${t.text}" th:href="'https://twitter.com/i/web/status/'+${t.id}" target="_blank">Tweet Text</a></td>
        </tr>
      </tbody>
    </table>

	<div sec:authorize="hasAnyRole('ORGANIZER', 'ADMINISTRATOR')">
      <a class="btn btn-primary" role="button" href="/events/new"><i class="fas fa-plus" aria-hidden="true"></i> Add a new event</a>
    </div>

    <div id="map" style="width:100%;height:50vw;margin:15px 0;"></div>
    <script>
		mapboxgl.accessToken = 'pk.eyJ1IjoidGVhbWcxMCIsImEiOiJjbDE1ODIyZngwMG92M2pxczVkajF5YWQ4In0.JAscVbHj6h0TpFGWK4YU_A';
		const map = new mapboxgl.Map({
			container: 'map', // container ID
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [-2.242631, 53.480759], // starting position [lng, lat]
			zoom: 6 // starting zoom
		});
    </script>
    <script th:inline="javascript" th:each="event : ${futureEvents}">
    /*<![CDATA[*/
    	var longitude = /*[[${event.venue.longitude}]]*/ -2.242631;
    	var latitude = /*[[${event.venue.latitude}]]*/ 53.480759;
    	var marker = new mapboxgl.Marker()
    	.setLngLat([longitude, latitude])
    	.addTo(map);
    /*]]>*/
    </script>

  </div>
</body>
</html>