<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
  <title>New Event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new event</h1>

    <form action="#" th:action="@{/events/new}" th:object="${event}" method="post">
      <div class="form-group" th:classappend="${param.error}? has-error">
        <label for="name">Event name: <span style="color:red" th:if="${#fields.hasErrors('name')}"><em>Invalid. Max 256 chars</em></span></label>
        <input class="form-control" type="text" th:field="*{name}" name="name" id="name" autofocus="autofocus" required/>
        <label for="description">Description: <span style="color:red" th:if="${#fields.hasErrors('description')}"><em>Invalid. Max 500 chars</em></span></label>
        <textarea class="form-control" th:field="*{description}" name="description" id="description" autofocus="autofocus"></textarea>
        <label for="venue">Venue:</label>
      	<select class="form-control" name="venue" id="venue">
	      <option th:each="v : ${venues}"
	      		  th:text="${v.name}"
	      		  th:value="${v.id}"
	      		  th:selected="${v.id} == *{venue}">
		  </option>
		</select>
        <label for="date">Date: <span style="color:red" th:if="${#fields.hasErrors('date')}"><em>Invalid. Must be in future</em></span></label>
        <input class="form-control" type="date" th:type="date" th:field="*{date}" name="date" id="date" autofocus="autofocus" required/>
        <label for="time">Time: </label>
        <input class="form-control" type="time" th:type="time" th:field="*{time}" name="time" id="time" autofocus="autofocus"/>
      </div>

      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>