<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
  <title>All Venues</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="search-container">
      <form th:action="@{/venues/search}">
        <div class="form-row">
          <div class="form-group" style="margin:1rem 0;">
            <label for="keyword">Search:</label>
            <input class="form-control" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required style="display:inline-block;width:unset;margin:0 0.5em;" />
            <button class="btn btn-primary" type="submit" style="float:right;"><i class="fas fa-search" aria-hidden="true"></i> Search</button>
          </div>
        </div>
      </form>
    </div>

    <h1>All Venues</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-map-marked-alt"></i> Address</th>
          <th><i class="fas fa-users"></i> Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="v : ${venues}">
          <td><a th:text="${v.name}" th:href="'/venues/'+${v.id}">My Venue</a></td>
          <td th:text="${v.address}">Venue Address</td>
          <td th:text="${v.capacity}">Venue capacity</td>
        </tr>
      </tbody>
    </table>

    <div sec:authorize="hasAnyRole('ORGANIZER', 'ADMINISTRATOR')">
      <a class="btn btn-primary" role="button" href="/venues/new"><i class="fas fa-plus" aria-hidden="true"></i> Add a new venue</a>
    </div>
  </div>
</body>
</html> 